logging:
  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  date_format: "%y-%j %H:%M:%S"
  console: True
  socketio:
    level: 10  # Debug
    handler:
      filename: socketio.log
      maxBytes: 10485760
      backupCount: 2
  application:
    level: 10  # Debug
    handler:
      filename: starcorp.log
      maxBytes: 10485760
      backupCount: 5
